html {
  scroll-behavior: smooth;
}

body {
  font-family: "pragmatapro-fraktur", serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #daed5a;
  
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

iframe {

 margin-left: 5%;
}
  


.small {
  flex: 1 1 25%;
}
.large {
  flex: 1 1 70%;
}
.full {
  flex: 1 1 100%;
}
.half {
  flex: 1 1 45%;
}
.third {
  flex: 1 1 30%;
}
.quarter {
  flex: 1 1 24%;
}
.threequarter{
  flex: 1 1 50%
}

.header-box {
  background-color: rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  margin: 0.1em auto;
  border: 2px dashed #edb651;
  outline: 2px dotted #edb651;
  outline-offset: 1.5px;
}


.image-container > img:hover {
  filter: brightness(0.6);
   transition: .5s ease;
  

}

p:hover{
  opacity: 1;
transition: opacity 1s
}

p{
  opacity: 0;
 transition: opacity 1s
}


nav {
  display: flex;
  justify-content: center;
  font-family: "hydrophilia-iced", sans-serif;
  margin: 18px;
  padding: 5px 12px 12px;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  text-align: center;
}

.ascii-art-2 {
  font-family: monospace;
  white-space: pre;
  text-align: center;
  font-size: 10px;
}




.body-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1300px;
  max-width: 100%;
  border-radius: 30px;
  margin: 2em auto;
  border: 2px dashed #edb651;
  outline: 2px dotted #edb651;
  outline-offset: 5px;
}

.image {
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;

     display: block;
  width: 100%;
  height: auto;
  }
}


main {
  margin: 10px auto;
  max-width: 100rem;
  text-align: center;
}

section {
   border: 2px ridge #5a7678;
  border-radius: 5px;
  background: linear-gradient(#00323c, #12542b);
  padding: 5px;
}

nav a,
.up a {
  color: #4f6306;

  display: block;
  border-radius: 10px;
  border-radius: 30px;
  margin: 2em auto;

  outline: 2px dotted #edb651;
  outline-offset: 5px;
  font-family: "hydrophilia-iced", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 0px 12px 12px;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  background-color: rgb(218, 237, 90, 0.7);
  height: 50px;
}

nav a,
.up a:hover{
  color: #62ff14;
}


hr {
  border: none;
  border-top: 1px solid #2e3532;
}





h2 {
  font-family: "input-mono", monospace;
  font-size: 1.15rem;
  color: #d3ff82;
 
  letter-spacing:3px;
  text-align:center;
   
}

h1,
h2,
h3,
h4,
h5,
h6,
table,
details,
cite,
pre,
blockquote {
  margin: 1rem 0;
}

p{
  margin:0.5rem auto;
}
h5 {
  font-family: "input-mono", monospace;
  font-size: .9rem;
  font-weight: normal;
  text-align: left;
  color: #d3ff82;
 
  text-align:center;
}



a {
  color: #daed5a;
  padding: 2px 4px;
  font-size: 1.25em;
}

h1 {
  font-family: bd-geminis, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #62ff14;}
h3 {
  font-family: "hydrophilia-liquid", sans-serif;
  font-style: normal;
  font-weight: 400;

  color: #d3ff8a;
  line-height: 20px;
  text-align: center;
    letter-spacing:2px;


  
}

h4 {
 font-family: "input-mono", monospace;
  font-size: .95rem;
  font-weight: normal;
  text-align: left;
  color: #d3ff82;
 
  text-align:center;
   
}


h5:hover {

  color: #62ff14;
  
}

h6 {
  font-family: "hydrophilia-iced", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  margin: 0.1em auto;
  border: 1px dashed #edb651;
  color: #d3ff82;
}

h3 {
  font-size: 1.5em;
}

h1 {
  font-size: 1.8em;
  text-align: center;
}

footer {
  font-size: 0.8em;
  text-align: center;
  padding: 5px 10px;
  margin: 2rem;
}

.container {
  max-width: 90rem;
  margin: 5vw auto 12px auto;
  border: 2px solid #edb651;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}

  header {
    background: url("glitch-assets/pixel-pond-light-tapestry.png");
  }

header {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80px; /* change banner height here*/
 border: 2px ridge #edb651;
  border-radius: 5px;
  position: relative;
}
header {
            font-size: 100px;
            margin: 10px;
            display: flex;
            text-align: center;
  font-family: bd-geminis, sans-serif;

            
            font-style: normal;
            font-weight: 400;
            margin: 1rem 0;
            justify-content: center;
        }
header span {
  font-size: 2.9rem;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 5px;
  
  color: #edb651;
}

.header-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
 padding: auto;
 

  border: 2px dotted #edb651;
  outline: 2px dotted #edb651;
  outline-offset: 0.5px;
}

.up {
  position: fixed;
  bottom: 10px;
  right: 40px;
}


.flex-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  align-items: flex-start;
}

.sitemap {
  text-decoration: none;
}

.container {
  position: relative;
  
}

.centered-image {
    display: block; /* Makes the image a block-level element */
    margin: auto;   /* Centers the block-level element horizontally */
    width: 70%;     /* Sets the width to 70% of its container */
}

.text {
display: none;
}
div:hover .text {
  
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}
